@model OnlineInventory.Models.InvoiceInfoMD

<script>
    $('.select2').select();
    function show () {
  document.getElementById("spinner").classList.add("show");
}
function hide () {
  document.getElementById("spinner").classList.remove("show");
    }

    function selectedCustomerChangeEvent(sel) {
        ////alert(sel.value);
        //ShowInvoices(sel.value);
    }


    function ViewInvoices() {
        CustId = $("#CustomerId").val();
        FromDate = $("#FromDate").val();
        ToDate = $("#ToDate").val();
        InvoiceNo= $("#InvoiceNo").val()
        var url = "@Url.Action("ViewInvoices", "Sales")";
        window.location.href = url + "?CustId=" + CustId + "&FromDate=" + FromDate + "&ToDate=" + ToDate + "&InvoiceNo=" + InvoiceNo;
    }

    $(function () {
        $("#FromDate").empty();
        $("#ToDate").empty();

        $("#FromDate").datepicker();
        $("#ToDate").datepicker();
    })

    function exportInvoice(inv)
    {
       var url = "@Url.Action("ExportInvoiceReport", "Reports")";
        var InvoiceNo = inv;
        window.open(url + "?InvoiceNo=" + InvoiceNo , '_blank');
    }

    function Edit(val) {
        var url = "@Url.Action("SaleInvoice", "Sales", new { InvoiceNo = "InvNo" })";
        var InvoiceNo =  val;
        url = url.replace("InvNo", InvoiceNo);
        window.location = url;
    }
     function ConvertJsonDateToDateTime(date) {
                var parsedDate = new Date(parseInt(date.substr(6)));
                var newDate = new Date(parsedDate);
                var month = ('0' + (newDate.getMonth() + 1)).slice(-2);
                var day = ('0' + newDate.getDate()).slice(-2);
                var year = newDate.getFullYear();
                return day + "/" + month + "/" + year;
    }
    function deleteInvoice (val)
    {
        if (confirm('Are you sure to delete this Invoice')) {
        $.ajax({
            type: "Get",
            url: "/Sales/DeleteSaleInovice",
            data: { InvoiceNo: val },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
               success: function (response) {
                   AlertNotification();
                   window.location.reload();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        }
           
    }
       function AlertNotification() {
        $("#succesfulAlert").show();;
        $("#succesfulAlert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div id="succesfulAlert" hidden="hidden" class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <p>
                    <strong>
                        <i class="icon-ok"></i>
                        Response!
                    </strong>
                    Deleted Sucessfuly...;
                </p>

            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div id="spinner">
                        @*<img src="~/Content/spiner.gif" />*@
                        <i class="icon-spinner icon-spin orange bigger-300"></i>
                    </div>

                    <div class="pull-right">
                        <a href="@Url.Action("SaleInvoice", "Sales")" class="btn-new-mail">
                            <span class="btn bt1n-small btn-purple no-border">
                                <i class=" icon-file bigger-130"></i>
                                <span class="bigger-110">Create New</span>
                            </span>
                        </a>
                    </div><!-- ./li-new-mail -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Manage Invoices
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="row">

                                </div>

                                <div class="=row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-12 control-label no-padding-right">Invoice No </label>
                                            <input class="form-control col-sm-12" type="text" id="InvoiceNo" placeholder="Invoice No">

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-12 control-label no-padding-right">To Customer </label>
                                            @Html.DropDownListFor(m => m.CustomerId, ViewBag.CutomerData as SelectList, "Please Select", new { @id = "CustomerId", @class = "form-control select2", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-12 control-label no-padding-right">From Date </label>
                                            <input class="form-control col-sm-12" type="text" id="FromDate" placeholder="From Date">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <div class="form-group col-sm-12">
                                            <label class="col-sm-12 control-label no-padding-right">To Date </label>
                                            <input class="form-control col-sm-12" type="text" id="ToDate" placeholder="To Date">

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group col-sm-12">
                                            <label style="color:white" class="col-sm-3 control-label no-padding-right" for="form-field-1">Amount </label>
                                            <button onclick="ViewInvoices();" class="btn btn-info btn-block">Search</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <table id="invoiceTable" class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="detail-col">Invoice No.</th>
                                    <th class="detail-col">Invoice Date</th>
                                    <th class="detail-col">Customer</th>
                                    <th class="detail-col hidden-480">Total Amount</th>
                                    <th class="detail-col hidden-480">Remarks</th>
                                    <th class="detail-col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.InvoiceList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => m.InvoiceNo)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => m.InvoiceDate, "{0:d MMM yyyy}")
                                            <br>
                                            <span class="small">@m.CreatedBy</span>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => m.Name)</td>
                                        <td class="hidden-480">@Html.DisplayFor(modelItem => m.TotalAmount)</td>
                                        <td class="hidden-480">@Html.DisplayFor(modelItem => m.Remarks)</td>
                                        <td>
                                            @if (User.Identity.Name.Split('|')[0].ToString() == "Admin")
                                            {
                                                <button onclick="Edit('@m.InvoiceNo')" class="btn btn-sm btn-warning"> <li class="icon-edit bigger-120"></li>  </button>
                                                <button onclick="deleteInvoice('@m.InvoiceNo')" class="btn btn-sm btn-danger"> <li class="icon-remove bigger-120"></li>  </button>
                                            }
                                            <button onclick="exportInvoice('@m.InvoiceNo')" class="btn btn-sm btn-success"> <li class="icon-print bigger-120"></li>  </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-center">
                            <nav aria-label="...">
                                <ul class="pagination">

                                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("ViewInvoices", new { page = Model.CurrentPage - 1, pageSize = Model.PageSize })">Previous</a>
                                    </li>

                                    @for (int i = Math.Max(1, Model.CurrentPage - 5); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 4); i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("ViewInvoices", new { page = i, pageSize = Model.PageSize })">@i</a>
                                        </li>
                                    }

                                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                                        <a class="page-link" href="@Url.Action("ViewInvoices", new { page = Model.CurrentPage + 1, pageSize = Model.PageSize })">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</div><!-- /.page-content -->


