@model OnlineInventory.Models.JournalEntriesMD
@{
    ViewBag.Title = "CustomerLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
      function showLoading () {
  document.getElementById("spinner").classList.add("show");
}
function hideLoading () {
  document.getElementById("spinner").classList.remove("show");
}
    function func_validate() {
        var chk = 0;
         
        var FromDate = document.getElementById('FromDate');
        var ToDate = document.getElementById('ToDate');
        var CustomerId = document.getElementById('CustomerID');

        if (Date.parse(FromDate.value)==false || Date.parse( ToDate.value)==false || CustomerId.value == "") {
            FromDate.style.border = "2px solid red";
            ToDate.style.border = "2px solid red";
            CustomerId.style.border = "2px solid red";
            chk = 1;
        }
        else {
            FromDate.style.border = "1px solid #ccc";
            ToDate.style.border = "1px solid #ccc";
            CustomerId.style.border = "1px solid #ccc"
        }
        //------------------ finally ------------------------------
        if (chk != 0)
            return false;
        else
            return true;
       


    }
    function viewDetail() {
        if (func_validate() == false) {
            return;
        }
        var url = "@Url.Action("ExportGeneralLedger", "Accounts")";
        var CustomerID = $("#CustomerID").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        window.open(url + "?CustomerID=" + CustomerID + "&FromDate=" + FromDate + "&ToDate=" + ToDate, '_blank');
    }
     function viewGeneral() {
         if (func_validate() == false) {
            return;
        }
        var url = "@Url.Action("ViewCustomerLedger", "Accounts")";
        var CustomerID = $("#CustomerID").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        window.open(url + "?CustomerID=" + CustomerID + "&FromDate=" + FromDate + "&ToDate=" + ToDate, '_blank');
    }
    function viewReport() {
          if (func_validate() == false) {
            return;
        }
        showLoading();
          $.ajax({
            type: 'POST',
             url: "/Accounts/ExportGeneralLedgerViewer",
            datatype: JSON,
              data: { CustomerID: $("#CustomerID").val(), FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val() },
            
              success: function (data) {
                   
                  $('#tblData tbody').empty();
               
                  var openingrow="<tr>" + "<td >"+'<lable> Opeing Balance</lable> '+ "</td>"+ "<td>" +'' + "</td>"+ "<td>" +'' + "</td>"+ "<td>" + '' + "</td>"+ "<td>" + data[0].OpeningBalance + "</td>" + "</tr>";
                  $('#tblData tbody').append(openingrow);
                  var balance = data[0].OpeningBalance;
                  $.each(data, function (i, item) {
                      var currentBalance = item.Debit - item.Credit;
                      balance += currentBalance;
                      
                    var rows = "<tr>"
                        + "<td >" + item.InvoiceNo + "</td>"
                        + "<td>" +ConvertJsonDateToDateTime( item.InvoiceDate) + "</td>"                      
                        + "<td>" + item.Debit + "</td>"
                        + "<td>" + item.Credit + "</td>"
                          + "<td>" + balance + "</td>"

                        + "</tr>";
                    $('#tblData tbody').append(rows);
                });
              }
              
          });
        hideLoading();
    }
     function ConvertJsonDateToDateTime(date) {
                var parsedDate = new Date(parseInt(date.substr(6)));
                var newDate = new Date(parsedDate);
                var month = ('0' + (newDate.getMonth() + 1)).slice(-2);
                var day = ('0' + newDate.getDate()).slice(-2);
                var year = newDate.getFullYear();
                return day + "-" + month + "-" + year;
            }
    $(function () {
        $("#FromDate").empty();
        $("#ToDate").empty();
        $("#FromDate").datepicker();
        $("#ToDate").datepicker();
    })
</script>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div id="spinner">
                @*<img src="~/Content/spiner.gif" />*@
                <i class="icon-spinner icon-spin orange bigger-300"></i>
            </div>
            <!-- general form elements -->
            <div class="panel-info">
                <div class="panel-heading">
                    <h6>
                        Customer Ledger
                        <small>Here user can View Ledger</small>
                    </h6>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    @Html.Hidden("S_ID", "0")
                    <div class="panel-body">
                        <div class="row col-lg-12 ">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label>Customer <span style="color:red;">*</span> </label>
                                @Html.DropDownListFor(m => m.CustomerID, ViewBag.CustomerData as SelectList, "--Select--", new { @class = "form-control col-sm-12", required = "required" })
                            </div>

                        </div>

                        <div class="row col-lg-12">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label>From Date<span style="color:red;">*</span> </label>
                                @Html.TextBoxFor(m => m.FromDate, "{0:d MMM yyyy}", new { id = "FromDate", @class = "form-control col-sm-12", required = "required" })
                            </div>
                            <div class="form-group col-lg-6 col-sm-12">
                                <label>To Date<span style="color:red;">*</span> </label>
                                @Html.TextBoxFor(m => m.ToDate, "{0:d MMM yyyy}", new { id = "ToDate", @class = "form-control col-sm-12", required = "required" })
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="panel-footer text-right">
                        <button type="button" class="btn btn-default btn-success" onclick="viewDetail();" id="btnSave">Export Report</button>
                        <button type="button" class="btn btn-default btn-primary" onclick="viewReport();" id="btnSave">View Report</button>
                    </div>
                    <hr />
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </div>
</section>
<table id="tblData" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th class="detail-col">Reference</th>
            <th class="detail-col">Date</th>
            
            <th class="detail-col">Debit</th>
            <th class="detail-col">Credit</th>
            <th class="detail-col"> Balance </th>

        </tr>
    </thead>

    <tbody>
        @*@foreach (var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => m.ItemId)</td>
                    <td>@Html.DisplayFor(modelItem => m.ItemName)</td>
                    <td><a class='btn btn-info' onclick='Edit(@Html.DisplayFor(modelItem => m.ItemId))'><em class='fa fa-pencil'></em></a> </td>
                </tr>
            }*@
    </tbody>
</table>

